/* Recurso: https://codepen.io/enxaneta/full/adLPwv */

.flex{
    background-color: yellowgreen;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenido-1{
    background-color: white;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}

.contenido-2{
    background-color: white;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}

.contenido-3{
    background-color: white;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}