/* Recordar que el CSS se lee de arriba a abajo, por lo que lo que haya abajo tiene > prioridad */
/* ID prevalece a clase al tener > especificidad */

h1{
    color: blue !important;
}

h1#h1-id\ h1-otro-id.h1-clase{
    color:darksalmon;
}

.h1-clase{
    color: yellowgreen;
}

p {
    color: red;
}