.container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: black;
    background-color: antiquewhite;
    
}

.principal {
    display: flex;
    flex-direction: column;
    flex-grow: initial;
    padding: 1rem;
    background-color: aqua;
}

@media (max-width: 640px) {
    .container {
        flex-direction: column-reverse;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-around;
        padding: 0.1rem;
    }
}
